In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import datetime
from numpy import nan as Nan

df_data = pd.read_excel("CO22020.xlsx",usecols = "A,B,C",skiprows=4, nrows = 253)


df_data.loc[-1] = ['01.01.2020', Nan, Nan]
df_data.index = df_data.index + 1  # shifting index
df_data.sort_index(inplace=True) 

df_data.Datum = pd.to_datetime(df_data.Datum).dt.date

df_data = df_data.set_index("Datum")
df_data = df_data.asfreq('D')
# is_NaN = df_data.isnull()

df_data = df_data.interpolate(method ='linear', limit_direction ='backward')
df_data['mean_CO2_tax'] = df_data[['Bid', 'Bid']].mean(axis=1)
df_data = df_data[["mean_CO2_tax"]]
print("Co2 Price\n")
print(df_data.head())

Co2 Price

            mean_CO2_tax
Datum
2020-01-01         17.43
2020-01-02         17.43
2020-01-03         17.43
2020-01-04         17.43
2020-01-05         19.93

In [13]:
x = df_data.resample('60T').ffill()

In [15]:
print(x)

                      Preis
Datum
2020-01-01 00:00:00  12.161
2020-01-01 01:00:00  12.161
2020-01-01 02:00:00  12.161
2020-01-01 03:00:00  12.161
2020-01-01 04:00:00  12.161
...                     ...
2020-12-30 20:00:00  18.389
2020-12-30 21:00:00  18.389
2020-12-30 22:00:00  18.389
2020-12-30 23:00:00  18.389
2020-12-31 00:00:00  18.301

[8761 rows x 1 columns]

In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import datetime

df_data = pd.read_excel("NaturalGas2020.xlsx",usecols = "A,D",skiprows=4, nrows = 332)

df_data.Datum = pd.to_datetime(df_data.Datum).dt.date

df_data = df_data.set_index("Datum")
df_data = df_data.asfreq('D')
# is_NaN = df_data.isnull()

df_data = df_data.interpolate(method ='linear', limit_direction ='forward')

gas_p = df_data
print("gas price\n")
print(gas_p.head())

gas price

             Preis
Datum
2020-01-01  12.161
2020-01-02   9.775
2020-01-03  10.100
2020-01-04   7.987
2020-01-05   6.164

In [4]:
gas_p

             Preis
Datum
2020-01-01  12.161
2020-01-02   9.775
2020-01-03  10.100
2020-01-04   7.987
2020-01-05   6.164
...            ...
2020-12-27  17.642
2020-12-28  17.891
2020-12-29  18.140
2020-12-30  18.389
2020-12-31  18.301

[366 rows x 1 columns]